img
{
  width: 250px;
}

p{
  color: greenyellow;
  font-weight: bold;
  margin-bottom: 0
}

.simbolo{
 color: rgb(165, 9, 9);
 font-weight: bold

}

.desconocido{
  color: rgb(10, 80, 185);
  font-weight: bold
}

.info{
  border-radius: 10px;
  width: 320px;
  background-color: rgba(157, 4, 157, 0.737);
  margin: 10px auto;
  text-align: center;
  box-shadow: 2px 2px 18px rgb(157, 4, 157);
}

.especie{
  text-align: center;
}
